body{
	margin: 0px;
	padding: 0px;

}

.logo{
	width: 80px;
	padding-top: 10px;
}
.navbar-nav{
	float: right;
}
.col-md-6 button{
	margin-top: 40px;
}

.row2{
	display: flex;
	justify-content: center;
	padding: 10px;
}
.icon{
	display: flex;
	padding: 10px;
	justify-content: center;
    align-items: center;

}
.icon img{
	width: 64px;
}

.hero{
	position: relative;
	width: 100%;
}
.hero img{
	width: 100%;
}
.tareq img{
	height: 336px;
	width: 278px;
	position: absolute;
	top: -28px;
	right: 50px;
}

.hero_text{
	position: absolute;
	top: 30%;
  left: 10%;
  display: flex;
}

.hero_button{
	display: flex;
}


@media only screen and (max-width: 600px) {
 	.row2{
	display: flex;
	justify-content: center;
	padding: 10px;
    flex-direction: column;

}
.col-sm-4{
	padding-top: 25px;
	
}

.tareq img{

	height: 143px;
    width: 112px;
    position: absolute;
    top: -17px;
    right: 18px;
}


}